# This is a basic workflow to help you get started with Actions

name: superMath

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          
          - name: GoReleaser Action
  # You may pin to the exact commit or the version.
  # uses: goreleaser/goreleaser-action@8f67e590f2d095516493f017008adc464e63adb1
  uses: goreleaser/goreleaser-action@v4.1.0
  with:
    # GoReleaser Distribution (goreleaser or goreleaser-pro)
    distribution: # optional, default is goreleaser
    # GoReleaser version
    version: # optional, default is latest
    # Arguments to pass to GoReleaser
    args: # optional
    # Working directory (below repository root)
    workdir: # optional, default is .
    # Just install GoReleaser
    install-only: # optional, default is false
    
    
